$status-colors: (
  "active": #39CD62,
  "inactive": #545F7D,
  "pending": #E9B200,
  "blacklisted": #E4033B
);

.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 16px;
  border-radius: 100px;
  font-size: 14px;
  font-weight: 400;
  min-width: 80px;
  text-transform: capitalize;

  @each $status, $color in $status-colors {
    &.badge-#{$status} {
      background: rgba($color, 0.06);
      color: $color;
    }
  }
}