@import "@/app-styles/badge.css";
@import "@/app-styles/button.css";
@import "@/app-styles/card.css";
@import "@/app-styles/dropdown.css";
@import "@/app-styles/filter.css";
@import "@/app-styles/sidenav.css";
@import "@/app-styles/table.css";
@import "@/app-styles/login.css";
@import "@/app-styles/details.css";
@import "@/app-styles/user.css";